.Button {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: var(--primary-color) !important;
  }
  
  .Button:active {
    background-color: var(--primary-color) !important;
  }
  
  .Button:focus {
    background-color: var(--primary-color);
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  /* .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #2142b2;
    color: #ffffff;
  } */
  
  /* .BlueOutline,
  .Blue:hover {
    border: 1px solid #2142b2;
    background-color: #ffffff;
    color: #2142b2;
  } */

  /* .Follow,
  .FollowOutline:hover {
    background-color: var(--primary-color);
    color: var(--white-color); 
  }

  .Follow:hover,
  .FollowOutline {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  } */

  .Feature,
  .FeatureOutline:hover  {
    background-color: var(--primary-color);
    color: var(--white-color); 
  }

  .Feature:hover, 
  .FeatureOutline {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  .Highlight {
    background-color: var(--highlight-color);
    color: var(--white-color); 
  }

  .Highlight:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
  