.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}
  
.Button:hover:active {
  background-color: var(--primary-color) !important;
}

.Button:active {
  background-color: var(--primary-color) !important;
}
  
.Button:focus {
  background-color: var(--primary-color);
}
  
.Wide {
  padding: 10px 50px;
  width: 100%;
}
  
.Feature {
  transition: opacity ease-in-out 0.3s;
}

.Feature,
.FeatureOutline:hover  {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  outline: none;
  border: 0;
}

.Feature:hover {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  opacity: 0.5;
  border-color: var(--primary-color);
}

.FeatureOutline {
  background-color: var(--white-color);
  color: var(--dark-color);
  border-color: var(--primary-color);
  transition: background-color ease-in-out 0.3s;  
}

.Highlight {
  background-color: var(--highlight-color);
  color: var(--white-color);
  transition: opacity ease-in-out 0.3s;
}

.Highlight:hover {
  background-color: var(--highlight-color);
  opacity: 0.5;
}
  