.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .IconSolid {
    color: var(--primary-color);
  }
  
  .IconSolid:hover {
    color: var(--highlight-color);
  }

  .IconOutline {
    color: var(--primary-color);
  }
  
  .IconOutline:hover {
    color: var(--highlight-color);
  }