.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}
  
.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}
  
.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

/* Media query for mobile devices from 991px and down. Row switches to flex column */
@media only screen and (max-width: 991px) {
  .SearchAdd {
    display: flex;
    flex-direction: column;
  }
}

/* Media query for mobile devices from 991px and down. Sort icons centered. */
@media only screen and (max-width: 991px) {
  .SortIcons {
    justify-content: center;
  }
}