.Snapshot {
  background-color: var(--white-color);
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.IconSolid {
  color: var(--primary-color);
}

.IconSolid:hover {
  color: var(--secondary-color);
}

.IconOutline {
  color: var(--primary-color);
}

.IconOutline:hover {
  color: var(--secondary-color);
}

.Waveform {
  height: 3rem;
  width: 3rem;
  padding: 7px;
  vertical-align: middle;
}

