:root {
    /* --primary-color: #CF2000; */
    --primary-color: #E07000;
    /* --secondary-color: #F5B047; */
    --secondary-color: #FFC107;
    --light-color: #E9EBED;
    --highlight-color: #393F4A;
    --dark-color: #2C2F38;
    --white-color: #ffffff;
}

.App {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark-color);
    background-color: var(--light-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Main {
    padding-top: 100px;
  }

.Content {
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.FillerImage {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.Spinner {
  color: var(--primary-color) ; 
}

.FeatureHeading {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

/* Media query for mobile devices from 991px and down. Feature Heading font size increases */
/* @media only screen and (max-width: 991px) {
  .FeatureHeading {
    font-size: 3rem;   
  }
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
a {
color: inherit;
transition: color ease-in-out 0.3s;
}

a:hover {
text-decoration: none;
color: var(--highlight-color);
}

a:hover i {
color: var(--secondary-color);
}

input[type="file"] {
  display: none;
}

i {
color: var(--primary-color);
font-size: 1.6rem;
padding: 7px;
vertical-align: middle;
transition: color ease-in-out 0.3s;
}

i:hover {
cursor: pointer;
color: var(--secondary-color);
}

figure {
  text-align: center;
  display: inline-block;
}

.ImageIconClickable {
  transition: opacity ease-in-out 0.3s;
}

.ImageIconClickable:hover {
  opacity: 0.5;
  transition: opacity ease-in-out 0.3s;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}